target/
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
**/*.iml
transaction-logs/
.flattened-pom.xml
.nodejs
.vscode
.claude/commands/opsx
.claude/skills/openspec-*.md
.gemini
.opencode
.agent
judo-ui-react-itest/ActionGroupTest/action_group_test__god/src/test/resources/snapshots/frontend-react/src/containers/View/Galaxy/View/ViewGalaxyView.tsx.snapshot
