target/
!**/src/msain/**/target/
!**/src/test/**/target/
.idea/
**/*.iml
transaction-logs/
.flattened-pom.xml
.nodejs
.vscode
.claude/commands/opsx
.claude/skills/openspec-*.md
.gemini
.opencode
.agent/workflows/opsx-archive.md
.agent/
.claude/
.gemini/
