{{> fragment.header.hbs }}

import { Box, Typography } from '@mui/material';
import { useTranslation } from 'react-i18next';
import type { LogoProps } from '../components-api';
{{# if (otherApplicationsAvailable application applications) }}
    import { ApplicationSelector } from './ApplicationSelector';
{{/ if }}

export function Logo(props: LogoProps) {
  const { t } = useTranslation();

  return (
    <Box
      sx={ {
        p: 2,
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
      } }
    >
      <img
        id="application-logo"
        src={props.imgSrc}
        alt="logo"
        style={ {
          width: '100%',
        } }
      />
      <div style={ { width: '100%', margin: '16px 0 0', textAlign: 'center' } }>
        {{# unless (otherApplicationsAvailable application applications) }}
          <Typography id="application-name" sx={ { fontWeight: 'bold' } }>{ t('applications.{{ application.actor.simpleName }}', { defaultValue: '{{ application.actor.simpleName }}' }) as string }</Typography>
        {{ else }}
          <ApplicationSelector />
        {{/ unless }}
      </div>
    </Box>
  );
}
